img {
    height: 70px;
}

.ui.primary.button {
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
    margin-top: 4px;
}

#root{
    margin-top: 100px;
    width: 98%;
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
}
